.cargo/
.rustup/
.continue/
rust-env.ps1
target/
tools/
rustup-init.exe
llvm-mingw.zip
__hello.rs
__hello.exe
__hello-gnu.exe
__hello-gnu-lld.exe
locations.json
GeoLite2-ASN.mmdb
ip.txt
ip.csv
ip_*.txt
proxyip_*.txt
vless_*.txt
iptest